.main {
    background-color: var(--bg-color-main);
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.main__header {
}

.header {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    background-color: transparent;
    /* *** */
}
.header.this--active {
    background-color: var(--bg-color-main);
}
.header.this--active .header__nav {
    height: 100%;
}
.header.this--active .header__nav-item:not(.this--active) .header__nav-text {
    font-size: var(--font-size-normal);
}
.header.this--active .header__nav-item.this--active .header__nav-text {
    font-size: calc(var(--font-size-normal) + 0.4rem);
}

.header__name {
    flex: 1;
    letter-spacing: 0.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%;
}

.header__name-logoA:hover .header__name-lable {
    -webkit-animation: header__nav-text 0.6s ease-out infinite;
    animation: header__nav-text 0.6s ease-out infinite;
}

.header__name-logoA {
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    align-items: center;
    height: 100%;
    margin: 0 4rem;
}
.header__name-logoSVG {
    height: 100%;
    margin: 0 1rem;
}

.header__name-lable {
    font-size: var(--font-size-mtb);
    font-weight: bold;
}

.header__nav {
    display: flex;
    height: 5rem;
}

.header__nav-list {
    display: flex;
    /* height: 5rem; */
}

.header__nav-item {
    height: 100%;
}

.header__nav-item:not(.this--active):hover .header__nav-text {
    color: var(--text-color-1);
    padding-bottom: 0.4rem;
}
.header__nav-item:not(.this--active):hover .header__nav-link {
    border-bottom-color: var(--text-color-1);
    border-width: 1px 4px 2px;
}

.header__nav-item.this--active {
    position: relative;
    margin: 0 2rem;
}
.header__nav-item.this--active .header__nav-link {
    border-bottom-color: var(--text-color-1);
    border-width: 1px 4px 3px;
}
.header__nav-item.this--active .header__nav-text {
    color: var(--text-color-1);
    font-weight: bold;
    font-size: calc(var(--font-size-normal) + 0.8rem);
    -webkit-animation: header__nav-text 0.8s ease-out infinite;
    animation: header__nav-text 0.8s ease-out infinite;
}

.header__nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 0.5rem;
    border: 1px solid transparent;
    border-width: 1px 4px 1px;
}

.header__nav-text {
    font-size: var(--font-size-normal--big);
    letter-spacing: 0.1rem;
    text-align: center;
}
@-webkit-keyframes header__nav-text {
    66% {
        color: var(--bg-color-1--dark);
    }
}
@keyframes header__nav-text {
    66% {
        color: var(--bg-color-1--dark);
    }
}

.header__user {
    flex: 1;
    justify-content: flex-end;
    height: 5rem;
    display: flex;
    align-items: center;
}

.header__user-btn {
    position: relative;
    z-index: 1;
    height: 100%;
    padding: 0 2rem;
    margin: 0 1rem;
    font-size: var(--font-size-normal);
    font-weight: bold;
    /* background-color: #ccc; */
    background-image: linear-gradient(90deg, var(--text-color-1), var(--text-color-2));
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.main__container {
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.container {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-main);
    overflow: hidden;
    min-height: 50rem;
}

.container__Home {
    height: 100vh;
}
.container__Home::after {
    position: absolute;
    content: "";
    z-index: -1;
    display: block;
    top: -50%;
    left: -50%;
    width: 80%;
    height: 100%;
    border-radius: 3rem;
    background-color: rgba(247, 49, 171, 0.1);
    box-shadow: 4rem 4rem 1px rgba(247, 49, 171, 0.08);
    transform: rotate(45deg);
    animation: container__HomeA1 3s ease-out infinite, container__HomeA2 3s ease-in infinite;
}
.container__Home::before {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    bottom: -50%;
    right: -50%;
    width: 70%;
    height: 70%;
    border-radius: 3rem;
    background-color: rgba(247, 49, 171, 0.1);
    box-shadow: 4rem 4rem 1px rgba(247, 49, 171, 0.08);
    transform: rotate(20deg);
    /* animation: container__HomeA1 3s ease-out infinite, container__HomeA2 3s ease-in infinite; */
}
@keyframes container__HomeA1 {
    50% {
        transform: rotate(60deg);
    }
}
@keyframes container__HomeA2 {
    50% {
        transform: rotate(45deg);
    }
}

.Home__about {
    z-index: 1;
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    margin: 0 5%;
    max-width: 40rem;
}

.Home__lable {
    margin: 0 0 3vh;
}

.Home__lable-desc {
    margin: 0 0 3vh;
}

.Home__lable-descMain {
    font-size: var(--font-size-extremely);
    font-weight: bold;
    color: var(--text-color-1);
}

.Home__lable-descSub {
    font-size: var(--font-size-normal--big);
}

.Home__nav {
    display: flex;
    flex-flow: row wrap;
}

.Home__nav-box {
    flex: 1;
}
.Home__nav-box + .Home__nav-box {
    margin-left: 4%;
}

.Home__nav-btn {
    width: 100%;
    height: 5rem;
    font-size: var(--font-size-normal);
}

.Home__img-box {
    position: relative;
    display: flex;
    flex: 1;
    height: 100%;
    max-height: 65%;
    min-width: 50rem;
    margin: 0 1rem;
    animation: Home__img-box 6s linear infinite;
    /* overflow: visible; */
}
@keyframes Home__img-box {
    50% {
        transform: translateX(-4%) translateY(1%);
    }
}

.Home__img {
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    user-select: none;
}
.Home__img-box::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: calc(50% + 1rem);
    left: calc(50% - 2rem);
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    height: 100%;
    border: 0.2rem solid var(--bg-color-1--dark);
    /* box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.425), 0 0 4rem rgba(0, 0, 0, 0.425); */
    border-radius: 2rem;
    animation: Home__img-boxA 6s linear infinite;
}
@keyframes Home__img-boxA {
    50% {
        transform: translateX(calc(-50% + 04%)) translateY(calc(-50% + 0%));
    }
}
/* ...------------------------------------------------------------------------------------------------------------------------ */
.container__About {
    /* background-color: rebeccapurple; */
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.main__footer {
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: var(--text-color-blur-2);
    overflow: hidden;
    visibility: hidden;
    /* transition: all 1s ease-out; */
}
.modal.this--active {
    visibility: visible;
}

.Loader__main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-main);
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;
}
.modal.this--active .Loader__main.this--active {
    visibility: visible;
    opacity: 1;
}

.Loader__content {
    width: 8%;
    /* max-width: 15rem; */
    margin: 2%;
}

.Loader__svg {
    width: 100%;
}
