.main {
    background-color: var(--bg-color-main);
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.main__header {
}

.header {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    background-color: transparent;
}
.header.this--active {
    height: 6rem;
    background-color: var(--bg-color-main);
}
.header.this--active .header__nav {
    height: 100%;
}
.header.this--active .header__nav-item:not(.this--active) .header__nav-text {
    font-size: var(--font-size-normal);
}
.header.this--active .header__nav-item.this--active .header__nav-text {
    font-size: calc(var(--font-size-normal) + 0.4rem);
}

.header__name {
    flex: 1;
    letter-spacing: 0.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%;
}

.header__name-logoA:hover .header__name-lable {
    -webkit-animation: header__nav-text 0.6s ease-out infinite;
    animation: header__nav-text 0.6s ease-out infinite;
}

.header__name-logoA {
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    align-items: center;
    height: 100%;
    margin: 0 4rem;
}
.header__name-logoSVG {
    height: 100%;
    margin: 0 1rem;
}

.header__name-lable {
    font-size: var(--font-size-mtb);
    font-weight: bold;
    white-space: nowrap;
}

.header__nav {
    display: flex;
    height: 5rem;
}

.header__nav-list {
    display: flex;
    /* height: 5rem; */
}

.header__nav-item {
    height: 100%;
}

.header__nav-item:not(.this--active):hover .header__nav-text {
    color: var(--text-color-1);
    padding-bottom: 0.4rem;
}
.header__nav-item:not(.this--active):hover .header__nav-link {
    border-bottom-color: var(--text-color-1);
    border-width: 1px 4px 2px;
}

.header__nav-item.this--active {
    position: relative;
    margin: 0 2rem;
}
.header__nav-item.this--active .header__nav-link {
    border-bottom-color: var(--text-color-1);
    border-width: 1px 4px 3px;
}
.header__nav-item.this--active .header__nav-text {
    color: var(--text-color-1);
    font-weight: bold;
    font-size: calc(var(--font-size-normal) + 0.8rem);
    -webkit-animation: header__nav-text 0.8s ease-out infinite;
    animation: header__nav-text 0.8s ease-out infinite;
}

.header__nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 0.5rem;
    border: 1px solid transparent;
    border-width: 1px 4px 1px;
    transition: all 0.2s ease-out;
}

.header__nav-text {
    font-size: var(--font-size-normal--big);
    letter-spacing: 0.1rem;
    text-align: center;
    transition: all 0.2s ease-out;
}
@-webkit-keyframes header__nav-text {
    66% {
        color: var(--bg-color-1--dark);
    }
}
@keyframes header__nav-text {
    66% {
        color: var(--bg-color-1--dark);
    }
}

.header__user {
    flex: 1;
    justify-content: flex-end;
    height: 100%;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
}

.header__user-btn {
    position: relative;
    z-index: 1;
    height: 100%;
    padding: 0 2rem;
    margin: 0 1rem;
    font-size: var(--font-size-normal);
    font-weight: bold;
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.main__container {
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.container {
    background-color: var(--bg-color-main);
    overflow: hidden;
    /* min-height: 50rem; */
}

.container__Home {
    display: flex;
    position: relative;
    z-index: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container__Home::after {
    position: absolute;
    content: "";
    z-index: -1;
    display: block;
    top: -50%;
    left: -50%;
    width: 80%;
    height: 100%;
    border-radius: 3rem;
    background-color: rgba(247, 49, 171, 0.1);
    box-shadow: 4rem 4rem 1px rgba(247, 49, 171, 0.08);
    transform: rotate(45deg);
    -webkit-animation: container__HomeA1 3s ease-out infinite, container__HomeA2 3s ease-in infinite;
    animation: container__HomeA1 3s ease-out infinite, container__HomeA2 3s ease-in infinite;
}
.container__Home::before {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    bottom: -50%;
    right: -50%;
    width: 70%;
    height: 70%;
    border-radius: 3rem;
    background-color: rgba(247, 49, 171, 0.1);
    box-shadow: 4rem 4rem 1px rgba(247, 49, 171, 0.08);
    transform: rotate(20deg);
    /* animation: container__HomeA1 3s ease-out infinite, container__HomeA2 3s ease-in infinite; */
}
@-webkit-keyframes container__HomeA1 {
    50% {
        transform: rotate(60deg);
    }
}
@keyframes container__HomeA1 {
    50% {
        transform: rotate(60deg);
    }
}
@-webkit-keyframes container__HomeA2 {
    50% {
        transform: rotate(45deg);
    }
}
@keyframes container__HomeA2 {
    50% {
        transform: rotate(45deg);
    }
}

.Home__about {
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex: 1;
    /* margin: 0 5%; */
    padding: 0 5%;
    width: 60rem;
    max-width: 50%;
    margin-top: var(--header-height);
}

.Home__lable {
    margin: 0 0 3vh;
}

.Home__lable-desc {
    margin: 0 0 3vh;
}

.Home__lable-descMain {
    display: inline;
    font-size: var(--font-size-extremely);
    font-weight: bold;
    color: var(--text-color-1);
}

.Home__lable-descSub {
    font-size: var(--font-size-normal--big);
}

.Home__nav {
    display: flex;
    flex-flow: row wrap;
}

.Home__nav-box {
    flex: 1;
}
.Home__nav-box + .Home__nav-box {
    margin-left: 4%;
}

.Home__nav-btn {
    width: 100%;
    height: 5rem;
    font-size: var(--font-size-normal);
}

.Home__img-box {
    position: relative;
    display: flex;
    width: 30%;
    height: 50%;
    margin: var(--header-height) 1rem 0;
    -webkit-animation: Home__img-box 6s linear infinite;
    animation: Home__img-box 6s linear infinite;
}
@-webkit-keyframes Home__img-box {
    50% {
        transform: translateX(-4%) translateY(1%);
    }
}
@keyframes Home__img-box {
    50% {
        transform: translateX(-4%) translateY(1%);
    }
}
.Home__img-box::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: calc(50% + 1rem);
    left: calc(50% - 2rem);
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    height: 100%;
    border: 0.2rem solid var(--bg-color-1--dark);
    /* box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.425), 0 0 4rem rgba(0, 0, 0, 0.425); */
    border-radius: 2rem;
    -webkit-animation: Home__img-boxA 6s linear infinite;
    animation: Home__img-boxA 6s linear infinite;
}
@-webkit-keyframes Home__img-boxA {
    50% {
        transform: translateX(calc(-50% + 04%)) translateY(calc(-50% + 0%));
    }
}
@keyframes Home__img-boxA {
    50% {
        transform: translateX(calc(-50% + 04%)) translateY(calc(-50% + 0%));
    }
}

.Home__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.container__About {
    position: relative;
    z-index: 1;
    background-image: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%);
}

.About__header {
    margin: calc(var(--header-height)) 0;
}

.About__header-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: calc(var(--header-height) * 2) 0 var(--header-height);
}

.About__header-labelText {
    position: relative;
    z-index: 1;
    font-size: var(--font-size-normal--bigger);
    font-weight: bold;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #fff;
    text-shadow: 1px 2px 2px rgb(0 0 0 / 40%);
}

.About__app-list {
    display: flex;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.About__app-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 1rem;
    height: 10rem;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
}
.About__app-item + .About__app-item {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.About__app-itemIMG {
    height: 100%;
    width: 60%;
    -o-object-fit: contain;
    object-fit: contain;
}

.About__app-itemIMG--forMainWhite {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.About__content1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.About__content1-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    /* flex: 1; */
    padding: 0 4rem;
    width: 60rem;
}

.About__content1-img {
    -o-object-fit: contain;
    object-fit: contain;
    /* padding: 4rem; */
    width: 100%;
    -webkit-filter: hue-rotate(80deg) brightness(1.3);
    filter: hue-rotate(80deg) brightness(1.3);
}

.About__content1-boxContent {
    position: relative;
    width: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 4rem;
}
.About__content1-boxContent::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    content: "";
    width: 0.2rem;
    background-color: var(--bg-color-hd);
    opacity: 0.4;
    border-radius: 999rem;
}

.About__content1-Text {
    text-align: left;
}

.About__content1-fiText {
    font-size: var(--font-size-normal--big);
    color: #fff;
    text-shadow: 1px 2px 2px rgb(0 0 0 / 40%);
}

.About__content1-seText {
    font-size: var(--font-size-extremely);
    color: #fff;
    text-shadow: 1px 2px 2px rgb(0 0 0 / 40%);
}

.About__content1-thText {
    font-size: var(--font-size-normal);
    color: var(--text-color-main);
}

.About__content1-btnDiv {
    margin-top: 2rem;
    width: 50%;
    height: 5rem;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
}

.About__content1-btn {
    width: 100%;
    height: 100%;
    font-size: var(--font-size-normal);
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.About__3Boxes {
    display: flex;
    justify-content: center;
}

.About__Box-list {
    display: flex;
    align-items: center;
    width: 120rem;
    height: 12rem;
    margin: var(--header-height) 0;
}

.About__Box-item {
    position: relative;
    width: calc(100% / 3);
    height: 100%;
    margin: 0 1.6rem;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    /* border-bottom: 3px solid rgba(0, 0, 0, 0.7); */
    background-color: #ff719a;
    color: #ffecd2;
    box-shadow: 0 0 2rem rgb(0 0 0 / 10%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}
.About__Box-item:nth-child(2) {
    background-color: #46403f;
}
.About__Box-item:nth-child(3) {
    background-color: #ff9a44;
}
.About__Box-item:hover .About__Box-itemPseudo {
    transform: translateY(0%);
    opacity: 1;
}
.About__Box-item:hover .About__Box-label {
    width: 0;
    flex: 0;
}
.About__Box-item:hover .About__Box-imgBox {
    width: 100%;
}

.About__Box-imgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
    /* padding: 3rem 0 3rem 3rem; */
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 40%;
    padding: 1rem;
    text-shadow: 4px 2px 4px rgb(0 0 0 / 50%);
}

.About__Box-label {
    width: 0;
    flex: 1;
    /* width: fit-content; */
}

.About__Box-lableP {
    font-size: 3rem;
    padding-left: 1rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 3px 2px rgb(0 0 0 / 40%);
    white-space: nowrap;
}

.About__Box-itemPseudo {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    border-radius: inherit;
    font-size: var(--font-size-normal--big);
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(0.2rem);
    backdrop-filter: blur(0.2rem);
    padding: 0 1rem;
    transform-origin: 50% 100%;
    overflow: hidden;
    transform: translateY(100%);
    opacity: 0;
}

.About__Box-itemPseudoP {
    margin: auto;
    color: rgb(255, 255, 255);
    text-align: center;
    max-height: calc(100% - 1.2rem);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
/*... ------------------------------------------------------------------------------------------------------------------------ */
.About__ProgressBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ccc;
    padding: calc(var(--header-height) * 2) 0;
}

.About__ProgressBar-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.About__ProgressBar-header_P {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-extremely);
}

.About__ProgressBar-subHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120rem;
    max-width: 100%;
    margin: 2rem 0;
    background-color: #bbb;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.About__ProgressBar-subHeader_information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
}

#token_Sold::before {
    content: "Token Sold:";
    margin-right: 0.4rem;
}
#perETHUnit::before {
    content: "1 ETH =";
    margin-right: 0.4rem;
}
.About__ProgressBar-subHeader_information_LI {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    font-size: var(--font-size-normal--big);
}
.About__ProgressBar-subHeader_information_LI + .About__ProgressBar-subHeader_information_LI {
    margin-top: 1rem;
}

.About__ProgressBar-subHeader_information_link {
    color: var(--text-color-1);
    font-weight: bold;
    margin-right: 0.4rem;
}

.About__ProgressBar-subHeader_information_P2::before {
    content: "collected";
    display: inline-block;
    margin-right: 0.4rem;
}
.About__ProgressBar-subHeader_information_P2 {
}

.About__ProgressBar-subHeader_timeLine {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 2;
    flex-direction: column;
}

.About__ProgressBar-subHeader_timeLine_header {
    font-size: var(--font-size-normal--big);
    margin-right: auto;
}

.About__ProgressBar-subHeader_timeLine_timeBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.About__ProgressBar-subHeader_timeLine_time {
    position: relative;
    font-size: var(--font-size-extremely);
}
.About__ProgressBar-subHeader_timeLine_time::after {
    content: "";
    position: absolute;
    top: calc(80%);
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--font-size-normal--bigger);
}
.About__ProgressBar-subHeader_timeLine_time:nth-child(1)::after {
    content: "Ngày";
}
.About__ProgressBar-subHeader_timeLine_time:nth-child(2)::after {
    content: "Giờ";
}
.About__ProgressBar-subHeader_timeLine_time:nth-child(3)::after {
    content: "Phút";
}
.About__ProgressBar-subHeader_timeLine_time:nth-child(4)::after {
    content: "Giây";
}

.About__ProgressBar-bar {
    position: relative;
    width: 120rem;
    background-color: #bbb;
    height: 3rem;
    border-radius: 999rem;
}

.About__ProgressBar-bar--filled {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--percentFilled);
    background-color: #fff;
    border-radius: inherit;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

.About__ProgressBar-buy {
    width: 20%;
    height: 5rem;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
}

.About__ProgressBar-buy_btn {
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: var(--font-size-normal--big);
}

/* ------------------------------------------------------------------------------------------------------------------------ */
.main__footer {
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: var(--text-color-blur-2);
    overflow: hidden;
    visibility: hidden;
    /* transition: all 1s ease-out; */
}
.modal.this--active {
    visibility: visible;
}

.Loader__main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-main);
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;
}
.modal.this--active .Loader__main.this--active {
    visibility: visible;
    opacity: 1;
}

.Loader__content {
    width: 8%;
    /* max-width: 15rem; */
    margin: 2%;
}

.Loader__svg {
    width: 100%;
}
