/* min:1356px */
/* ***START Reset Css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ***END Reset Css */

/* ***START Base Css */
:root {
    --header-height: 7rem;

    --bg-color-hd: #ff69b4;
    --bg-color-1--dark: #fc90c0;
    --bg-color-1--soft: #fca4cb;
    --bg-color-2--dark: #7785f2;
    --bg-color-2--soft: #6785f9;
    --bg-color-3: #fddaec;
    --bg-color-4: #e5d8f3;
    --bg-color-main: #f0ffff;

    --text-color-main: #181922;
    --text-color-sub: #726e73;
    --text-color-1: #f74896;
    --text-color-2: #f15b9f;
    --text-color-blur-1: rgba(0, 0, 0, 0.8);
    --text-color-blur-2: rgba(0, 0, 0, 0.6);
    --text-color-blur-3: rgba(0, 0, 0, 0.4);
    --text-color-blur-4: rgba(0, 0, 0, 0.2);
    --text-color-blur-5: rgba(0, 0, 0, 0.1);

    --font-size-normal: 1.5rem;
    --font-size-normal--small: 1.3rem;
    --font-size-normal--big: 1.8rem;
    --font-size-normal--bigger: 2rem;
    --font-size-extremely: 5rem;
    --font-size-extremely--vw: 3vw;
    --font-size-mtb: 1.8rem;

    --grid__margin: 1rem;
}

@font-face {
    font-family: iCielPanton;
    src: url(../fonts/iCielPanton-Light.otf);
}

html {
    font-size: 62.5%;
    color: var(--text-color-main);
    font-family: iCielPanton, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

* {
    box-sizing: inherit;
    line-height: 1.5;
}

body {
}

::-moz-selection {
    background-color: var(--bg-color-1--dark);
    color: #fff;
}

::selection {
    background-color: var(--bg-color-1--dark);
    color: #fff;
}

::-webkit-scrollbar {
    width: 0.8vw;
    height: 0rem;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    background-color: red;
    background-image: url(../img/scroll.jpg);
    background-size: cover;
    background-position: top left;
    border-radius: 1111rem;
    -webkit-transition: all 0.3 ease-out;
    transition: all 0.3 ease-out;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    /* box-shadow: inset 0 0 0.5rem rgba(31, 20, 20, 0.3); */
}
.atTopOfThisWeb::-webkit-scrollbar-thumb {
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}
.atBotOfThisWeb::-webkit-scrollbar-thumb {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
}
.noScrollBar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__f {
    width: 100%;
}

.grid__r {
    display: flex;
    flex-flow: row wrap;
    margin: 0 calc(var(--grid__margin) * -1);
}

.grid__c2 {
    width: 50%;
    padding: 0 var(--grid__margin);
}

.grid__c1 {
    width: 100%;
    padding: 0 var(--grid__margin);
}

.grid__c5 {
    width: calc(100% / 5);
    padding: 0 var(--grid__margin);
}

.grid__c12-2 {
    width: calc(100% / 12 * 2);
    padding: 0 var(--grid__margin);
}
/* ------------------------------------------------------------------------------------------------------------------------ */
a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
    font-family: inherit;
    font-size: inherit;
    border: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.com-btn {
    position: relative;
    z-index: 1;
    background-color: transparent;
    /* background-image: linear-gradient(90deg, var(--text-color-1), var(--text-color-2)); */
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    color: #fff;
    border-radius: var(--grid__margin);
    text-shadow: 2px 2px 4px var(--text-color-blur-4);
    transition: transform 0.3s ease-out;
}
.com-btn::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-image: linear-gradient(-45deg, #ffc796 0%, #ff6b95 100%);
    border-radius: inherit;
    /* box-shadow: 0 0 2rem var(--text-color-blur-4); */
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all 0.3s linear;
}
.com-btn:hover {
    transform: translateY(-0.3rem);
}
.com-btn:hover::after {
    opacity: 1;
}
.com-btn:hover .com-decoration__child {
    transform: scale(1) rotate(360deg);
    opacity: 1;
}

.com-decoration {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.com-decoration__child {
    position: absolute;
    transform: rotate(0deg);
    transform: scale(0);
    opacity: 0;
}
.com-decoration__child:nth-child(1) {
    height: 30%;
    top: -0.4rem;
    left: -1rem;
    transition: all 0.3s linear;
}
.com-decoration__child:nth-child(2) {
    height: 35%;
    bottom: -0.6rem;
    left: 20%;
    transition: all 0.6s linear;
}
.com-decoration__child:nth-child(3) {
    height: 40%;
    top: 2rem;
    right: -0.4rem;
    transition: all 0.9s linear;
}
.com-text-cap {
    text-transform: capitalize;
}

.com-dash-below-text::after {
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 50%;
    content: "";
    width: 60%;
    height: 10%;
    background: linear-gradient(90deg, var(--text-color-1), var(--bg-color-1--dark));
    transform: skewX(40deg) translateX(-50%);
    box-shadow: 2px 1px 0 var(--bg-color-3);
    border-radius: 4px;
}
/* ***END Base Css */

/* ***START Style */
.main {
    background-color: var(--bg-color-main);
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.main__header {
}

.header {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    background-color: transparent;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
    will-change: background-image;
    transition: height 0.3s linear, background 0.3s linear, border 0.3s linear;
}
.header.this--active {
    height: 5rem;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3));
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border-bottom-right-radius: var(--grid__margin);
    border-bottom-left-radius: var(--grid__margin);
}
.header.this--active .header__nav {
    height: 100%;
}
.header.this--active .header__nav-item:not(.this--active) .header__nav-text {
    font-size: var(--font-size-normal);
}
.header.this--active .header__nav-item.this--active .header__nav-text {
    font-size: calc(var(--font-size-normal) + 0.4rem);
}

.header__name {
    flex: 1;
    display: flex;
    justify-content: center;
    letter-spacing: 0.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%;
}

.header__name-logoA:hover .header__name-lable {
    -webkit-animation: header__nav-text 0.6s ease-out infinite;
    animation: header__nav-text 0.6s ease-out infinite;
}

.header__name-logoA {
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    align-items: center;
    height: 100%;
    /* margin: 0 0 0 4rem; */
}
.header__name-logoSVG {
    height: 100%;
    margin: 0 1rem;
}

.header__name-lable {
    font-size: var(--font-size-mtb);
    font-weight: bold;
    white-space: nowrap;
}

.header__nav {
    display: flex;
    height: 5rem;
}

.header__nav-list {
    display: flex;
    /* height: 5rem; */
}

.header__nav-item {
    height: 100%;
    transition: margin 0.3s linear, border 0.3s linear;
}

.header__nav-item:not(.this--active):hover .header__nav-text {
    color: var(--text-color-1);
    padding-bottom: 0.4rem;
}
.header__nav-item:not(.this--active):hover .header__nav-link {
    border-bottom-color: var(--text-color-1);
    border-width: 1px 4px 2px;
}

.header__nav-item.this--active {
    position: relative;
    margin: 0 2rem;
}
.header__nav-item.this--active .header__nav-link {
    border-bottom-color: var(--text-color-1);
    border-width: 1px 4px 3px;
}
.header__nav-item.this--active .header__nav-text {
    color: var(--text-color-1);
    font-weight: bold;
    font-size: calc(var(--font-size-normal) + 0.8rem);
    -webkit-animation: header__nav-text 0.8s ease-out infinite;
    animation: header__nav-text 0.8s ease-out infinite;
}

.header__nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 0.5rem;
    border: 1px solid transparent;
    border-width: 1px 4px 1px;
    transition: border 0.2s ease-out;
}

.header__nav-text {
    font-size: var(--font-size-normal--big);
    letter-spacing: 0.1rem;
    text-align: center;
    transition: font-size 0.3s ease-out;
}
@-webkit-keyframes header__nav-text {
    66% {
        color: var(--bg-color-1--dark);
    }
}
@keyframes header__nav-text {
    66% {
        color: var(--bg-color-1--dark);
    }
}

.header__user {
    flex: 1;
    justify-content: flex-end;
    height: 100%;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
}

.header__user-btn {
    position: relative;
    z-index: 1;
    height: 100%;
    padding: 0 2rem;
    margin: 0 1rem;
    font-size: var(--font-size-normal);
    font-weight: bold;
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.main__container {
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.container {
    background-color: var(--bg-color-main);
    overflow: hidden;
}

.container__Home {
    display: flex;
    position: relative;
    z-index: 0;
    align-items: center;
    justify-content: center;
    height: 100rem;
}
.container__Home::after {
    position: absolute;
    content: "";
    z-index: -1;
    display: block;
    top: -50%;
    left: -50%;
    width: 80%;
    height: 100%;
    border-radius: 3rem;
    background-color: rgba(247, 49, 171, 0.1);
    box-shadow: 4rem 4rem 1px rgba(247, 49, 171, 0.08);
    transform: rotate(45deg);
    -webkit-animation: container__HomeA1 3s ease-out infinite, container__HomeA2 3s ease-in infinite;
    animation: container__HomeA1 3s ease-out infinite, container__HomeA2 3s ease-in infinite;
}
.container__Home::before {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    bottom: -50%;
    right: -50%;
    width: 70%;
    height: 70%;
    border-radius: 3rem;
    background-color: rgba(247, 49, 171, 0.1);
    box-shadow: 4rem 4rem 1px rgba(247, 49, 171, 0.08);
    transform: rotate(20deg);
    -webkit-animation: container__HomeA1 3s ease-out infinite, container__HomeA2 3s ease-in infinite;
    animation: container__HomeA1 3s ease-out infinite, container__HomeA2 3s ease-in infinite;
}
@-webkit-keyframes container__HomeA1 {
    50% {
        transform: rotate(60deg);
    }
}
@keyframes container__HomeA1 {
    50% {
        transform: rotate(60deg);
    }
}
@-webkit-keyframes container__HomeA2 {
    50% {
        transform: rotate(45deg);
    }
}
@keyframes container__HomeA2 {
    50% {
        transform: rotate(45deg);
    }
}

.Home__about {
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex: 1;
    /* margin: 0 5%; */
    padding: 0 5%;
    width: 60rem;
    max-width: 50%;
    margin-top: var(--header-height);
}

.Home__lable {
    margin: 0 0 3vh;
}

.Home__lable-desc {
    margin: 0 0 3vh;
}

.Home__lable-descMain {
    display: inline;
    font-size: var(--font-size-extremely);
    font-weight: bold;
    color: var(--text-color-1);
}

.Home__lable-descSub {
    font-size: var(--font-size-normal--big);
}

.Home__nav {
    display: flex;
    flex-flow: row wrap;
}

.Home__nav-box {
    flex: 1;
}
.Home__nav-box + .Home__nav-box {
    margin-left: 4%;
}

.Home__nav-btn {
    width: 100%;
    height: 5rem;
    font-size: var(--font-size-normal);
}

.Home__img-box {
    position: relative;
    display: flex;
    width: 30%;
    height: 50%;
    margin: var(--header-height) 1rem 0;
    -webkit-animation: Home__img-box 6s linear infinite;
    animation: Home__img-box 6s linear infinite;
}
@-webkit-keyframes Home__img-box {
    50% {
        transform: translateX(-4%) translateY(1%);
    }
}
@keyframes Home__img-box {
    50% {
        transform: translateX(-4%) translateY(1%);
    }
}
.Home__img-box::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: calc(50% + 1rem);
    left: calc(50% - 2rem);
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    height: 100%;
    border: 0.2rem solid var(--bg-color-1--dark);
    /* box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.425), 0 0 4rem rgba(0, 0, 0, 0.425); */
    border-radius: 2rem;
    -webkit-animation: Home__img-boxA 6s linear infinite;
    animation: Home__img-boxA 6s linear infinite;
}
@-webkit-keyframes Home__img-boxA {
    50% {
        transform: translateX(calc(-50% + 04%)) translateY(calc(-50% + 0%));
    }
}
@keyframes Home__img-boxA {
    50% {
        transform: translateX(calc(-50% + 04%)) translateY(calc(-50% + 0%));
    }
}

.Home__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.container__About {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.container__About {
    position: relative;
    z-index: 1;
}
.container__About::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -30rem;
    right: -30rem;
    width: 100rem;
    height: 100rem;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 0, 1.2), rgba(255, 255, 255, 0.4));
    border-radius: 4rem;
    transform-origin: 50% 20%;
    transform: rotate(-55deg);
}

.container__About_NotProgressBar {
    background-image: linear-gradient(90deg, #ffc3a0 0%, #ffafbd 100%);
}

.About__header {
    margin: calc(var(--header-height)) 0;
}

.About__header-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: calc(var(--header-height) * 2) 0 calc(var(--header-height) / 2);
}

.About__header-labelText {
    position: relative;
    z-index: 1;
    font-size: var(--font-size-normal--bigger);
    font-weight: bold;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #fff;
    text-shadow: 1px 2px 2px rgb(0 0 0 / 40%);
}

.About__app-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.About__app-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 5);
    padding: 1rem;
    height: 10rem;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
}
.About__app-item + .About__app-item {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.About__app-itemIMG {
    height: 100%;
    width: 60%;
    -o-object-fit: contain;
    object-fit: contain;
}

.About__app-itemIMG--forMainWhite {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.About__content1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem auto;
}

.About__content1-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 60rem;
    max-width: 100%;
    padding: 0 4rem;
}

.About__content1-img {
    -o-object-fit: contain;
    object-fit: contain;
    /* padding: 4rem; */
    width: 100%;
    -webkit-filter: hue-rotate(80deg) brightness(1.3);
    filter: hue-rotate(80deg) brightness(1.3);
}

.About__content1-boxContent {
    position: relative;
    width: 80rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 4rem;
}
.About__content1-boxContent::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    content: "";
    width: 0.2rem;
    background-color: var(--bg-color-hd);
    opacity: 0.4;
    border-radius: 999rem;
}

.About__content1-Text {
    text-align: left;
}

.About__content1-fiText {
    font-size: var(--font-size-normal--big);
    color: #fff;
    text-shadow: 1px 2px 2px rgb(0 0 0 / 40%);
}

.About__content1-seText {
    font-size: var(--font-size-extremely);
    color: #fff;
    text-shadow: 1px 2px 2px rgb(0 0 0 / 40%);
}

.About__content1-thText {
    font-size: var(--font-size-normal);
    color: var(--text-color-main);
}

.About__content1-btnDiv {
    margin-top: 2rem;
    width: 50%;
    height: 5rem;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
}

.About__content1-btn {
    width: 100%;
    height: 100%;
    font-size: var(--font-size-normal);
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.About__3Boxes {
    display: flex;
    justify-content: center;
}

.About__Box-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: var(--header-height) -1rem;
}

.About__Box-itemWrapper {
    width: calc(100% / 3);
    height: 100%;
    margin-top: 1rem;
    padding: 0 1rem;
}

.About__Box-item {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    /* border-bottom: 3px solid rgba(0, 0, 0, 0.7); */
    background-color: #ff719a;
    color: #fff;
    box-shadow: 0 0 2rem rgb(0 0 0 / 10%);
    height: 12rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}
.About__Box-itemWrapper:nth-child(2) .About__Box-item {
    background-color: #46403f;
}
.About__Box-itemWrapper:nth-child(3) .About__Box-item {
    background-color: #ff9a44;
}
.About__Box-item:hover .About__Box-itemPseudo {
    transform: translateY(0%);
    opacity: 1;
}
.About__Box-item:hover .About__Box-label {
    width: 0;
    flex: 0;
}
.About__Box-item:hover .About__Box-imgBox {
    width: 100%;
}

.About__Box-imgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
    /* padding: 3rem 0 3rem 3rem; */
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 40%;
    padding: 1rem;
    text-shadow: 4px 2px 4px rgb(0 0 0 / 50%);
    transition: all 0.4s ease-out;
}

.About__Box-label {
    width: 0;
    flex: 1;
    transition: all 0.4s ease-out;
}

.About__Box-lableP {
    font-size: 3rem;
    padding-left: 1rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 3px 2px rgb(0 0 0 / 40%);
    white-space: nowrap;
}

.About__Box-itemPseudo {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    border-radius: inherit;
    font-size: var(--font-size-normal--big);
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(0.2rem);
    backdrop-filter: blur(0.2rem);
    padding: 0 1rem;
    transform-origin: 50% 100%;
    overflow: hidden;
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.4s ease-out;
}

.About__Box-itemPseudoP {
    margin: auto;
    color: rgb(255, 255, 255);
    text-align: center;
    max-height: calc(100% - 1.2rem);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.About__ProgressBar {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: calc(var(--header-height) * 2) 0;
    background-image: linear-gradient(90deg, #ffc3a0 0%, #ffafbd 100%);
    background-attachment: fixed;
    overflow: hidden;
}

.About__ProgressBar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-extremely);
}

.About__ProgressBar-header_P {
    display: flex;
    justify-content: center;
    align-items: center;
}

.About__ProgressBar-subHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120rem;
    max-width: 95%;
    margin: 2rem 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.About__ProgressBar-subHeader_information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
}

#token_Sold::before {
    content: "Token Sold:";
    margin-right: 0.4rem;
}
#perETHUnit::before {
    content: "1 ETH =";
    margin-right: 0.4rem;
}
.About__ProgressBar-subHeader_information_LI {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    font-size: var(--font-size-normal--big);
}
.About__ProgressBar-subHeader_information_LI + .About__ProgressBar-subHeader_information_LI {
    margin-top: 1rem;
}

.About__ProgressBar-subHeader_information_link {
    color: var(--text-color-1);
    font-weight: bold;
    margin-right: 0.4rem;
}

.About__ProgressBar-subHeader_information_P2::before {
    content: "collected";
    display: inline-block;
    margin-right: 0.4rem;
}
.About__ProgressBar-subHeader_information_P2 {
}

.About__ProgressBar-subHeader_timeLine {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 2;
    flex-direction: column;
}

.About__ProgressBar-subHeader_timeLine_header {
    font-size: var(--font-size-normal--big);
    margin-right: auto;
}

.About__ProgressBar-subHeader_timeLine_timeBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.About__ProgressBar-subHeader_timeLine_time {
    position: relative;
    font-size: var(--font-size-extremely);
}
.About__ProgressBar-subHeader_timeLine_time::after {
    content: "";
    position: absolute;
    top: calc(80%);
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--font-size-normal--bigger);
}
.About__ProgressBar-subHeader_timeLine_time:nth-child(1)::after {
    content: "Ngày";
}
.About__ProgressBar-subHeader_timeLine_time:nth-child(2)::after {
    content: "Giờ";
}
.About__ProgressBar-subHeader_timeLine_time:nth-child(3)::after {
    content: "Phút";
}
.About__ProgressBar-subHeader_timeLine_time:nth-child(4)::after {
    content: "Giây";
}

.About__ProgressBar-bar {
    position: relative;
    z-index: 1;
    width: 120rem;
    min-width: 30rem;
    max-width: 95%;
    color: #f5f0f7;
    background-color: currentColor;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.1);
    height: 3rem;
    border-radius: 999rem;
    margin: 4rem 0;
}
.About__ProgressBar-bar::after {
    /* position: absolute;
    top: calc(100% - 1px);
    right: 3rem;
    content: "";
    font-size: 3rem;
    border-width: 1rem 3rem 0;
    border-style: solid;
    border-color: currentColor transparent; */
    position: absolute;
    z-index: -1;
    top: calc(100% - 1.7rem);
    right: 3rem;
    content: "";
    font-size: 3rem;
    width: 3rem;
    height: 2rem;
    transform: rotate(-21deg) skewX(47deg);
    background-color: currentColor;
    border-width: 0.3rem 0.4rem;
    border-style: solid;
    border-color: #f5f0f7;
    display: none;
}

.About__ProgressBar-bar--filled {
    position: absolute;
    padding: 0.2rem;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--percentFilled);
    background-color: currentColor;
    background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
    color: #feada6;
    background-clip: content-box;
    border-radius: inherit;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}
.About__ProgressBar-bar--filled::after {
    position: absolute;
    z-index: -1;
    top: calc(100% - 1.7rem);
    right: 3rem;
    content: "";
    width: 3rem;
    height: 2rem;
    transform: rotate(-21deg) skewX(47deg);
    background-color: #feb2ab;
    border-width: 0.3rem 0.4rem;
    border-style: solid;
    border-color: #f5f0f7;
    /* box-shadow: 0 0 2rem rgb(0, 0, 0, 0.1); */
}
.About__ProgressBar-bar--filled::before {
    position: absolute;
    content: attr(data-percentFilled);
    top: calc(100% + 1rem);
    right: 5rem;
    color: var(--text-color-main);
    transform: translateX(50%);
    font-size: var(--font-size-normal--big);
}

.About__ProgressBar-buy {
    width: 20%;
    height: 5rem;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
}

.About__ProgressBar-buy_btn {
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: var(--font-size-normal);
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.container__Product {
    position: relative;
    z-index: 1;
    background-image: linear-gradient(-90deg, #e9defa 0%, #fbfcdb 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.Product__inner {
}

.Product__header {
    margin: calc(var(--header-height) * 1) 0 var(--header-height);
}
.Product__distibution:first-child .Product__header {
    margin: calc(var(--header-height) * 2) 0 var(--header-height);
}

.Product__headerFirst {
    margin: auto;
    color: #000;
    text-shadow: none;
}

.Product__headerSecond {
    text-align: center;
    font-size: var(--font-size-extremely);
    margin-top: 3rem;
}

.Product__flags {
}

.Product__flags-list {
    margin-bottom: var(--header-height);
}

.Product__flags-item {
}

.Product__flags-itemIMG {
    width: 100%;
    padding-top: 70%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.Product__flags-itemName {
    font-size: var(--font-size-normal--big);
    text-align: center;
    font-weight: bold;
}

.container__InCome {
    position: relative;
    z-index: 1;
    background-image: linear-gradient(-90deg, #e9defa 0%, #fbfcdb 100%);
}
.container__InCome::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background-image: url(../img/container/dotBlurBg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw;
    filter: hue-rotate(310deg);
    opacity: 0.4;
}
.container__InCome::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    content: "";
    background-image: url(../img/container/bg-02.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 80vw;
    transform: translate(30%, 6%);
    filter: hue-rotate(310deg);
    opacity: 0.3;
}

.Product__distibution {
    display: flex;
    flex-direction: column;
}

.Product__distibution-imgWrapper {
    display: flex;
    height: 50rem;
    margin: 2rem 0;
}

.Product__distibution-IMG {
    width: 50%;
    height: 100%;
    -o-object-position: center right;
    object-position: center right;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-filter: hue-rotate(336deg);
    filter: hue-rotate(336deg);
}

.Product__distibution-content {
    position: relative;
    width: 50%;
    height: 100%;
    padding-left: 1rem;
}

.Product__distibutionIMGDesc {
    position: absolute;
    font-size: var(--font-size-normal--big);
    white-space: nowrap;
}
.Product__distibutionIMGDesc--cap {
    font-size: 3rem;
    font-weight: bold;
}

.Product__distibutionIMGDesc:nth-child(1) {
    top: 11%;
}
.Product__distibutionIMGDesc:nth-child(2) {
    top: 35%;
}
.Product__distibutionIMGDesc:nth-child(3) {
    top: 50%;
}
.Product__distibutionIMGDesc:nth-child(4) {
    top: 75%;
}

.Product__distibution-imgWrapper2 {
    position: relative;
    display: flex;
    width: 52rem;
    max-width: 100%;
    margin: 2rem auto;
}

.Product__distibution-IMG2 {
    height: 100%;
    max-width: 100%;
    -o-object-position: center right;
    object-position: center right;
    -o-object-fit: contain;
    object-fit: contain;
}

.Product__distibutionIMGDesc2 {
    position: absolute;
    font-size: var(--font-size-normal--big);
    white-space: nowrap;
}
.Product__distibutionIMGDesc2:nth-child(2) {
    top: 2%;
    left: 26%;
}
.Product__distibutionIMGDesc2:nth-child(3) {
    top: 23%;
    left: 13%;
}
.Product__distibutionIMGDesc2:nth-child(4) {
    top: 44%;
    left: 0%;
}
.Product__distibutionIMGDesc2:nth-child(5) {
    top: 65%;
    left: 0%;
}
/* ... */
/* ------------------------------------------------------------------------------------------------------------------------ */
.main__footer {
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    overflow: hidden;
    visibility: hidden;
}
.modal.this--active {
    visibility: visible;
}
.modal.modal--overlay {
    background-color: var(--text-color-blur-2);
}
.modal::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 50%;
    border: 1px solid #000;
    display: none;
}

.Loader__main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-main);
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transform: translateX(0);
    /* border-right: 1rem solid #ec3939; */
    transition: transform 0.8s ease;
}
.Loader__main::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    height: 100%;
    transform: translateX(-100%) translateY(-50%) scaleY(0);
    width: 0.6vw;
    background-color: #fca1fc;
    background-image: -webkit-linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0.4) 10%,
        transparent 10%,
        transparent 20%,
        rgba(255, 255, 255, 0.4) 20%,
        rgba(255, 255, 255, 0.4) 30%,
        transparent 30%,
        transparent 40%,
        rgba(255, 255, 255, 0.4) 40%,
        rgba(255, 255, 255, 0.4) 50%,
        transparent 50%,
        transparent 60%,
        rgba(255, 255, 255, 0.4) 60%,
        rgba(255, 255, 255, 0.4) 70%,
        transparent 70%,
        transparent 80%,
        rgba(255, 255, 255, 0.4) 80%,
        rgba(255, 255, 255, 0.4) 90%,
        transparent 90%,
        transparent
    );
    box-shadow: -1rem 0 2rem rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-out;
}
.Loader__main--active.Loader__main::after {
    transform: translateX(-100%) translateY(-50%) scaleY(1);
}

.modal.this--active .Loader__main.this--active {
    visibility: visible;
    opacity: 1;
}
.modal.this--active .Loader__main.this--active::-webkit-scrollbar {
    width: 0;
}

.Loader__wrapper {
    position: relative;
    left: 0;
    width: 5%;
    min-width: 3rem;
    transition: left 0.6s ease-in, transform 0.6s ease-in;
}

.Loader__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100%;
    /* background-color: red; */
    /* animation: Loader__svg 10s linear infinite; */
}

.Loader__dot {
    position: absolute;
    width: 20%;
    height: 20%;
    background-color: #fca1fc;
    border-radius: 100%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    -webkit-animation: Loader__dot 0.8s linear infinite;
    animation: Loader__dot 0.8s linear infinite;
}
@-webkit-keyframes Loader__dot {
    12.5% {
        transform-origin: center;
        opacity: 0.2;
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
    }
}
@keyframes Loader__dot {
    12.5% {
        transform-origin: center;
        opacity: 0.2;
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
    }
}
.Loader__dot:nth-child(1) {
    top: 0%;
    left: 50%;
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}
.Loader__dot:nth-child(2) {
    top: 15%;
    left: 85%;
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}
.Loader__dot:nth-child(3) {
    top: 50%;
    left: 100%;
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
.Loader__dot:nth-child(4) {
    top: 85%;
    left: 85%;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.Loader__dot:nth-child(5) {
    top: 100%;
    left: 50%;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.Loader__dot:nth-child(6) {
    top: 85%;
    left: 15%;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.Loader__dot:nth-child(7) {
    top: 50%;
    left: 0%;
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}
.Loader__dot:nth-child(8) {
    top: 15%;
    left: 15%;
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
/* ***END Style */
